@import url("https://fonts.googleapis.com/css?family=Roboto%3Aregular%2C300|Open+Sans%3Aregular|Raleway%3Aregular&subset=latin,latin-ext");

.noscroll {
    overflow-y: hidden;
}

.google-map {
    display: none;
    bottom: 70px;
    left: 0;
}

.google-map.open {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 199;
}

.map-toolbar {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 1.5em;
    z-index: 455;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    display: none;
    font-family: Arial, sans-serif;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.map-toolbar button {
    width: 30px;
    padding: 0;
}

.map-toolbar input {
    padding: 16px 5px;
    border: 0;
    outline: 0;
    float: left;
    border-right: 1px dashed #ccc;
    font-size: 16px;
    width: 65%;
}

.map-toolbar.open {
    display: block;
}

.transport-toggle {
    float: right;
    margin: 5px 15px 0 0;
}

.transport-toggle button {
    border: 0;
    outline: 0;
    color: #000;
    fill: #000;
    font-size: 25px;
    line-height: 45px;
    background: none;
    padding-left: 0;
    padding-right: 0;
}

.transport-toggle .selected {
    fill: #2196F3;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 111;
    background: rgba(0, 0, 0, 0.6);
}

.backdrop.hide {
    display: none;
}

.backdrop.open {
    display: block;
}

.hours-view.hide {
    display: none;
}

.hours-view {
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    z-index: 199;
    background: #fff;
    font-size: 16px;
    font-weight: 200;
    color: #444;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.hours-view h2,
h3 {
    font-weight: 200;
}

.hours-view .now {
    border: 1px solid #ccc;
    background: #eee;
    border-radius: 3px;
    padding: 3px;
    display: inline-block;
}

.hours-view .now.open {
    background: #E4EEE4;
}

.hours-view .now.closed {
    background: #EEE4E4;
}

.hours-view h2 {
    text-align: center;
    font-size: 28px;
}

.hours-view h3 {
    font-size: 20px;
    border-bottom: solid #eee 1px;
}

.hours-view .today {
    margin: 5px 0;
}

.hours-view table {
    padding: 0;
    margin: 0 auto;
    width: 100%;
}

.hours-view thead {
    color: #666;
}

.hours-view thead tr {
    background: #ddd;
}

.hours-view td {
    padding: 1%;
}

.hours-view tr:nth-child(odd) {
    background: #eee;
}

.action-button {
    display: block;
    background: #2196F3;
    border: 0;
    outline: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 1.8em;
    margin-bottom: 0.8em;
    margin-left: 0;
    margin-right: 2%;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 333;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: transform 0.4s ease-in-out;
    -o-transition: transform 0.4s ease-in-out;
    -ms-transition: transform 0.4s ease-in-out;
    -moz-transition: transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
    -webkit-transform: rotateZ(0deg);
    -o-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -moz-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
}

.action-button line {
    stroke: #fff;
}

.action-button.open {
    -webkit-transform: rotateZ(135deg);
    -o-transform: rotateZ(135deg);
    -ms-transform: rotateZ(135deg);
    -moz-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
}

.mobile-features {
    font-size: 18px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 70px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 222;
    font-family: Arial, sans-serif;
    -webkit-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}

.mobile-features.hide {
    display: none;
}

.mobile-features a {
    color: #666;
    display: inline-block;
    padding: 0.2em;
    margin: 0.25em 0.75em;
    min-width: 50px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.mobile-features a.hide {
    display: none;
}

.mobile-features a:hover {
    text-decoration: none;
    color: #666;
}

.mobile-features a:visited {
    color: #666;
}

.mobile-features a svg path {
    fill: #666;
}

.mobile-features a svg {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto 5px auto;
}

.mobile-features i {
    font-size: 1.5em;
    display: block;
}

.mobile-features.open {
    display: block;
}

.info-card {
    font-size: 16px;
    position: absolute;
    color: #444;
    left: 5%;
    right: 5%;
    padding: 1em;
    width: 90%;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
    background: #fff;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    -ms-transition: top 0.2s ease-in-out;
    -moz-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.info-card.open {
    display: block;
}

.info-card.hide {
    display: none;
}

.info-card .title {
    color: #888;
    margin-bottom: 10px;
    font-style: italic;
}

.info-card .close {
    border: 0;
    outline: 0;
    background: none;
    font-size: 26px;
    color: #888;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0;
}

.info-card address {
    float: left;
    font-style: normal;
}

@keyframes fadeInUp {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    100% {
        transform: none;
    }
}

@-o-keyframes fadeInUp {
    0% {
        -o-transform: translate3d(0, 100%, 0);
    }

    100% {
        -o-transform: none;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
    }

    100% {
        -webkit-transform: none;
    }
}

@-moz-keyframes fadeInUp {
    0% {
        -moz-transform: translate3d(0, 100%, 0);
    }

    100% {
        -moz-transform: none;
    }
}

.fadeinup {
    -webkit-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@keyframes fadeOutDown {
    100% {
        transform: translate3d(0, 100%, 0);
    }

    0% {
        transform: none;
    }
}

@-o-keyframes fadeOutDown {
    0% {
        -o-transform: none;
    }

    100% {
        -o-transform: translate3d(0, 100%, 0);
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
        -webkit-transform: none;
    }

    100% {
        -webkit-transform: translate3d(0, 100%, 0);
    }
}

@-moz-keyframes fadeOutDown {
    0% {
        -moz-transform: none;
    }

    100% {
        -moz-transform: translate3d(0, 100%, 0);
    }
}

.fadeoutdown {
    -webkit-animation-name: fadeOutDown;
    -o-animation-name: fadeOutDown;
    -ms-animation-name: fadeOutDown;
    -moz-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadein {
    -webkit-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    animation-name: fadeIn;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.fadeout {
    -webkit-animation-name: fadeOut;
    -o-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    -moz-animation-name: fadeOut;
    animation-name: fadeOut;
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes zoomIn {
    0% {
        opacity: 0;
        -o-transform: scale3d(0.7, 0.7, 0.7);
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes zoomIn {
    0% {
        opacity: 0;
        -moz-transform: scale3d(0.7, 0.7, 0.7);
    }

    100% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    -o-animation-name: zoomIn;
    -ms-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    animation-name: zoomIn;
}

@keyframes zoomOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale3d(0.7, 0.7, 0.7);
    }
}

@-o-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -o-transform: scale3d(0.7, 0.7, 0.7);
    }
}

@-webkit-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(0.7, 0.7, 0.7);
    }
}

@-moz-keyframes zoomOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -moz-transform: scale3d(0.7, 0.7, 0.7);
    }
}

.zoomOut {
    -webkit-animation-name: zoomOut;
    -o-animation-name: zoomOut;
    -ms-animation-name: zoomOut;
    -moz-animation-name: zoomOut;
    animation-name: zoomOut;
}

.animated {
    -webkit-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
    -ms-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
}

body {
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top left;
    background-size: auto;
}

/* IOS devices 'bgd-att: fixed' solution */
@media only screen and (max-device-width: 1366px) {
    .bgd-attachment-fixed {
        background-image: none;
    }

    .bgd-attachment-fixed:after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: top left;
        background-size: auto;
        z-index: -2;
    }
}

.Text_2_Default,
.yola_heading_container {
    word-wrap: break-word;
}

.yola_bg_overlay {
    display: table;
    table-layout: fixed;
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    height: 100%;
}

.yola_outer_content_wrapper {
    padding-right: 0px;
    padding-left: 0px;
}

.yola_inner_bg_overlay {
    width: 100%;
    min-height: 100vh;
    display: table-cell;
    vertical-align: top;
}

.yola_outer_heading_wrap {
    width: 100%;
    text-align: center;
}

.yola_heading_container {
    margin: 0 auto;
    background-color: #ffffff;

}

.yola_inner_heading_wrap {
    margin: 0 auto;
    max-width: 1280px;
}

.yola_innermost_heading_wrap {
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.yola_inner_heading_wrap.top nav,
.yola_inner_heading_wrap.top div#yola_heading_block,
.yola_inner_heading_wrap.bottom nav,
.yola_inner_heading_wrap.bottom div#yola_heading_block {
    padding-left: 3rem;
    padding-right: 3rem;
}

.yola_inner_heading_wrap.left .yola_innermost_heading_wrap,
.yola_inner_heading_wrap.right .yola_innermost_heading_wrap {
    padding-left: 3rem;
    padding-right: 3rem;
}

.yola_inner_heading_wrap h1 {
    margin: 0;
}

#yola_nav_block {
    height: 100%;
}

#yola_nav_block nav {
    text-align: center;
}

#yola_nav_block nav ul {
    display: inline;
}

.yola_inner_heading_wrap.left #yola_heading_block {
    float: left;
}

.yola_inner_heading_wrap.right #yola_heading_block {
    float: right;
}

.yola_inner_heading_wrap.top #yola_nav_block {
    padding: 1rem 0 0 0;
}

.yola_inner_heading_wrap.right #yola_nav_block {
    float: left;
    padding: 1rem 0 0 0;
}

.yola_inner_heading_wrap.bottom #yola_nav_block {
    padding: 0 0 1rem 0;
}

.yola_inner_heading_wrap.left #yola_nav_block {
    float: right;
    padding: 1rem 0 0 0;
}

.yola_banner_wrap {
    background-attachment: scroll;
    text-align: center;
    margin: 0 auto;
    display: none;
    background-position: top left;
    background-size: auto;
    background-repeat: repeat-x;
}

.yola_inner_banner_wrap {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.yola_innermost_banner_wrap {
    margin: 0 auto;
}

.yola_inner_nav_wrap {
    margin: 0 auto;
}

.yola_banner_wrap nav ul.sys_navigation {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.yola_banner_wrap h1 {
    margin: 0;
    text-align: center;
}

.yola_site_tagline {
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Raleway';
    font-size: 4rem;
    color: #000000;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
    text-align: left;
    padding-right: 3rem;
    padding-left: 3rem;

}

.yola_site_tagline span {
    display: inline-block;
}

ul.sys_navigation {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul.sys_navigation li {
    display: inline;
    list-style: none;
    margin: 0 3.2rem 0 0;
}

.yola_inner_heading_wrap ul.sys_navigation li:last-child {
    margin: 0;
}

ul.sys_navigation li a {
    text-decoration: none;
}

div.ys_submenu {
    margin-top: 8px;
}

.yola_content_wrap {
    margin: 0 auto;

}

.yola_content_column {
    margin: 0 auto;

}

.yola_inner_content_column {
    margin: 0 auto;
}

.yola_inner_footer_wrap {
    padding: 0 20px;
}

div[id*='sys_region_'] {
    padding-left: 0 ! important;
    padding-right: 0 ! important;
}

.yola_site_logo {
    width: 339px;
    max-width: 100%;
}

#sys_heading.yola_hide_logo img {
    display: none;
}

#sys_heading.yola_hide_logo span {
    display: inline;
}

a#sys_heading.yola_show_logo {
    font-size: 14px;
}

#sys_heading.yola_show_logo img {
    display: inline;
}

#sys_heading.yola_show_logo span {
    display: none;
}

.yola_footer_wrap {
    margin: 0 auto;
    background-color: #292929;

}

.yola_footer_column {
    margin: 0 auto;
    display: none;
}

footer {
    padding-top: 2.5rem;
    padding-right: 3rem;
    padding-bottom: 2.5rem;
    padding-left: 3rem;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: #ffffff;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;

}

span.yola_footer_socialbuttons {
    display: inline-block;
    line-height: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: static;
    float: left;
    width: 146px;
    height: 20px;
    display: none;
}

.sys_yola_form .submit,
.sys_yola_form input.text,
.sys_yola_form input.email,
.sys_yola_form input.tel,
.sys_yola_form input.url,
.sys_yola_form textarea {
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.7em;
    letter-spacing: 0px;
    text-transform: none;
}

div.sys_yola_form {
    padding: 0 !important;
}

div.sys_yola_form form {
    margin: 0 !important;
    padding: 0 !important;
}

.sys_layout h2,
.sys_txt h2,
.sys_layout h3,
.sys_txt h3,
.sys_layout h4,
.sys_txt h4,
.sys_layout h5,
.sys_txt h5,
.sys_layout h6,
.sys_txt h6,
.sys_layout p,
.sys_txt p {
    margin-top: 0;
}

div[id*='sys_region_'] {
    padding: 0 !important;
}

.sys_layout blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 3px solid #555555;
    ;
    font-size: 1.4rem;
    font-style: italic;
    color: #363636;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
}

.sys_layout blockquote,
.sys_layout blockquote h1,
.sys_layout blockquote h2,
.sys_layout blockquote h3,
.sys_layout blockquote h4,
.sys_layout blockquote h5,
.sys_layout blockquote h6,
.sys_layout blockquote p {
    font-family: 'Roboto';
}

.sys_layout p,
.sys_layout pre {
    margin: 0 0 1.5em 0
}

.sys_layout h2,
.sys_layout h3,
.sys_layout h4,
.sys_layout h5,
.sys_layout h6 {
    margin: 0 0 0.5em 0
}

.sys_layout dl,
.sys_layout menu,
.sys_layout ol,
.sys_layout ul {
    margin: 0 0 1.5em 0
}

.mob_menu {
    display: none;
}

.new-text-widget img,
.old_text_widget img {
    max-width: 100%;
}


@media only screen and (max-width : 736px) {
    html {
        font-size: 80%;
    }

    body .m_inherit_width {
        width: inherit;
    }

    .small_device_hide {
        opacity: 0;
    }

    /* Remove display table so that fixefox can understand max-width */
    .yola_bg_overlay,
    .yola_inner_bg_overlay {
        display: block;
    }

    /* Zero out padding of the heading wrapper */
    .yola_inner_heading_wrap.top .yola_innermost_heading_wrap,
    .yola_inner_heading_wrap.bottom .yola_innermost_heading_wrap,
    .yola_inner_heading_wrap.left .yola_innermost_heading_wrap,
    .yola_inner_heading_wrap.right .yola_innermost_heading_wrap {
        padding-left: 0;
        padding-right: 0;
    }

    /* Make all image widgets center aligned */
    .Image_Default img {
        display: block;
        margin: 0 auto;
    }

    /* Center button widgets in column dividers */
    .column_divider .sys_button {
        text-align: center;
    }

    /* Make column dividers snap to one over another */
    .yola_inner_heading_wrap.left #yola_heading_block,
    .yola_inner_heading_wrap.right #yola_heading_block {
        float: none;
    }

    #sys_heading {
        word-wrap: break-word;
        word-break: break-word;
    }

    body .column_divider .left,
    body .column_divider .right {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .mob_menu a:visited {
        color: #fff;
    }

    .mob_menu {
        display: block;
        z-index: 1;
        ;
        background: rgba(255, 255, 255, 1.00);
        ;
        ;
    }

    .mob_menu.menu_open {
        position: absolute;
        min-height: 100%;
        padding: 1rem 0 0 0;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .yola_outer_content_wrapper {
        display: block;
        padding-top: 0;
    }

    .mob_menu_overlay {
        display: none;
        text-transform: none;
    }

    .menu_open .mob_menu_overlay {
        display: block;
    }

    .mob_menu_toggle {
        display: block;
        padding-top: 5%;
        padding-bottom: 6%;
        text-align: center;
        color: #666;
        cursor: pointer;
    }

    .mob_submenu_toggle {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .new-text-widget img,
    .old_text_widget img {
        height: auto;
    }

    #sys_heading span {
        font-size: 35px;
        font-weight: 500;
    }

    .sys_navigation {
        display: none;
    }

    .mobile_ham {
        stroke: #595959;
    }

    .mobile_quit {
        display: none;
    }

    .menu_open .mobile_ham {
        display: none;
    }

    .menu_open .mobile_quit {
        display: inline;
        stroke: #595959;
    }

    .mob_menu_list {
        font-family: 'Raleway';
        font-weight: lighter;
        margin: 0;
        font-size: 2.2em;
        line-height: 2;
        letter-spacing: 0.1em;
        list-style: none;
        text-align: center;
        padding: 0;
        -webkit-animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-name: fadeInUp;
        -moz-animation-duration: .2s;
        -moz-animation-fill-mode: both;
        -moz-animation-name: fadeInUp;
        -o-animation-duration: .2s;
        -o-animation-fill-mode: both;
        -o-animation-name: fadeInUp;
        animation-duration: .2s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
    }

    .mob_menu_overlay .mob_menu_list a {
        color: #595959;
    }

    .mob_more_toggle {
        display: inline-block;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        margin-left: 8px;
        stroke: #595959;
    }

    .up_arrow {
        display: none;
    }

    .sub_menu_open svg .down_arrow {
        display: none;
    }

    .sub_menu_open .up_arrow {
        display: inline;
    }

    .mob_menu_overlay .mob_menu_list .selected a {
        color: #171717;
    }

    .sub_menu_open a {
        color: #171717;
    }

    .mob_menu_list .sub_menu_open a {
        color: #171717;
    }

    .sub_menu_open .mob_more_toggle {
        stroke: #171717;
    }

    .mob_submenu_list {
        font-family: 'Raleway';
        font-weight: lighter;
        list-style: none;
        text-align: center;
        padding: 0 0 5% 0;
        margin: 0;
        line-height: 1.6;
        display: none;
        -webkit-animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        -webkit-animation-name: fadeInUp;
        -moz-animation-duration: .2s;
        -moz-animation-fill-mode: both;
        -moz-animation-name: fadeInUp;
        -o-animation-duration: .2s;
        -o-animation-fill-mode: both;
        -o-animation-name: fadeInUp;
        animation-duration: .2s;
        animation-fill-mode: both;
        animation-name: fadeInUp;
    }

    .sub_menu_open .mob_submenu_list {
        display: block;
    }

    .mob_submenu_items {
        font-size: 0.75em;
    }

    .mob_menu_list .mob_nav_selected {
        color: #171717;
    }

    .menu_open~.yola_outer_content_wrapper {
        display: none;
    }

    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @-moz-keyframes fadeInUp {
        0% {
            opacity: 0;
            -moz-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            -moz-transform: none;
            transform: none;
        }
    }

    @-o-keyframes fadeInUp {
        0% {
            opacity: 0;
            -o-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            -o-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }
}

.responsive_embed video,
.responsive_embed iframe,
.responsive_embed img,
.responsive_embed object,
.responsive_embed embed {
    max-width: 100%;
}

.embed-video-container {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.embed-video-iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}

/* Clearfix for floated content */
.clear_fix:before,
.clear_fix:after {
    content: "";
    display: table;
}

.clear_fix:after {
    clear: both;
}

.hide-x-spill {
    overflow-x: hidden;
}

/* Social like/share strip */

.social-share-container {
    width: 100%;
}

.individual-social-share {
    vertical-align: bottom;
    display: inline-block;
    margin: 1px 0;
    max-width: 90px;
}

/* yoCaptach */
.yola-form-captcha-representation {
    max-width: 100%;
    height: 165px;
    background-image: url(captcha.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.ys_submenu {
    background: #fff;
    background: #fff linear-gradient(to bottom, #fff 0%, #fff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    display: none;
    margin: 0;
    position: absolute;
    padding: 0;
    z-index: 99999;
}

.ys_submenu ul {
    line-height: 160%;
    list-style: none !important;
    margin: 0;
    padding: 0;
}

.ys_submenu ul li {
    clear: both;
    line-height: 160%;
    margin: 0;
    padding: 0;
}

.ys_submenu ul li:hover {
    background: url(blue_slice_large.png) repeat-x;
    cursor: pointer;
}

.ys_submenu .ys_submenu_inner ul li a {
    color: #336699 !important;
    display: block;
    line-height: 160%;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
    text-transform: none;
}

.ys_submenu ul li a:hover {
    color: #fff !important;
    margin: 0;
    padding: 3px 10px;
    text-decoration: none;
}

.ys_submenu ul li:first-child:hover {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.ys_submenu ul li:last-child:hover {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.ys_submenu_inner {
    color: #333;
    padding: 0;
    text-align: left;
}

/* ======================
*
*  Site Style Settings
*
=========================*/
/* Paragraph text (p) */

.content p,
#content p,
.HTML_Default p,
.Text_Default p,
.sys_txt p,
.sys_txt a,
.sys_layout p,
.sys_txt,
.sys_layout {
    font-family: 'Open Sans';
    font-size: 1rem;
    color: #555555;
    line-height: 1.7em;
    letter-spacing: 0px;
    text-transform: none;
}

/* Navigation */
.sys_navigation a,
.ys_menu_2,
div#menu ul,
div#menu ul li a,
ul.sys_navigation li a,
div.sys_navigation ul li.selected a,
div.sys_navigation ul li a,
#navigation li a,
div.ys_menu ul a:link,
div.ys_menu ul a:visited,
div.ys_nav ul li a,
#sys_banner ul li a {
    font-family: 'Raleway';
    font-size: 1rem;
    color: #595959;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}


/* Navigation:selected */
div.sys_navigation ul li.selected a,
div#menu ul li.selected a,
#navigation li.selected a,
div.ys_menu ul li.selected a:link,
div.ys_menu ul li.selected a:visited,
div.ys_nav ul li.selected a,
#sys_banner ul li.selected a {
    color: #171717;
}

/* Navigation:hover */
div.sys_navigation ul li a:hover,
div#menu ul li a:hover,
#navigation li a:hover,
div.ys_menu ul a:hover,
div.ys_nav ul li a:hover,
div.ys_menu ul li a:hover,
#sys_banner ul li a:hover {
    color: #171717;
}

/* Site Title */
#sys_heading,
a#sys_heading,
#sys_banner h1 a,
#header h1 a,
div#heading h1 a {
    font-family: 'Raleway';
    font-size: 1.47rem;
    color: #292929;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

/* Hyperlinks (a, a:hover, a:visited) */
a,
.sys_txt a:link,
.sys_layout a:link {
    color: #5ea4d6;
}

a,
.sys_txt a:link,
.sys_layout a:link {
    text-decoration: underline;
}

a:visited,
.sys_txt a:visited,
.sys_layout a:visited {
    color: #4088ba;
}

a:hover,
.sys_txt a:hover,
.sys_layout a:hover {
    color: #1f4661;
}

a:hover,
.sys_txt a:hover,
.sys_layout a:hover {
    text-decoration: none;
}

/* Headings (h2, h3, h4, h5, h6) */
.sys_layout h2,
.sys_txt h2 {
    font-family: 'Raleway';
    font-size: 4.00rem;
    color: #363636;
    text-decoration: none;
    letter-spacing: 0rem;
    line-height: 1.38em;
    text-transform: none;
}

.sys_layout h2 a,
.sys_layout h2 a:link,
.sys_layout h2 a:hover,
.sys_layout h2 a:visited {
    font-family: 'Raleway';
    font-size: 4.00rem;
    color: #363636;
    letter-spacing: 0rem;
    line-height: 1.38em;
    text-transform: none;
}

.sys_layout h3,
.sys_txt h3 {
    font-family: 'Raleway';
    font-size: 2.5rem;
    color: #363636;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h3 a,
.sys_layout h3 a:link,
.sys_layout h3 a:hover,
.sys_layout h3 a:visited {
    font-family: 'Raleway';
    font-size: 2.5rem;
    color: #363636;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h4,
.sys_txt h4 {
    font-family: 'Raleway';
    font-size: 2rem;
    color: #363636;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.24em;
    text-transform: none;
}

.sys_layout h4 a,
.sys_layout h4 a:link,
.sys_layout h4 a:hover,
.sys_layout h4 a:visited {
    font-family: 'Raleway';
    font-size: 2rem;
    color: #363636;
    letter-spacing: 0px;
    line-height: 1.24em;
    text-transform: none;
}

.sys_layout h5,
.sys_txt h5 {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: #363636;
    text-decoration: none;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h5 a,
.sys_layout h5 a:link,
.sys_layout h5 a:hover,
.sys_layout h5 a:visited {
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: #363636;
    letter-spacing: 0px;
    line-height: 1.5em;
    text-transform: none;
}

.sys_layout h6,
.sys_txt h6 {
    font-family: 'Raleway';
    font-size: 1rem;
    color: #363636;
    text-decoration: none;
    letter-spacing: 0.1rem;
    line-height: 1.5em;
    text-transform: uppercase;
}

.sys_layout h6 a,
.sys_layout h6 a:link,
.sys_layout h6 a:hover,
.sys_layout h6 a:visited {
    font-family: 'Raleway';
    font-size: 1rem;
    color: #363636;
    letter-spacing: 0.1rem;
    line-height: 1.5em;
    text-transform: uppercase;
}

/*button widget*/
.sys_layout .sys_button a,
.sys_layout .sys_button a:link,
.sys_layout .sys_button a:visited {
    display: inline-block;
    text-decoration: none;
}

.sys_layout .sys_button a:link,
.sys_layout .sys_button a:visited {
    cursor: pointer;
}

.sys_layout .sys_button a {
    cursor: default;
}

.sys_layout .sys_button.square a,
.sys_layout .sys_button.square a:link {
    border-radius: 0px;
}

.sys_layout .sys_button.rounded a,
.sys_layout .sys_button.rounded a:link {
    border-radius: 3px;
}

.sys_layout .sys_button.pill a,
.sys_layout .sys_button.pill a:link {
    border-radius: 90px;
}

/*button sizes*/
.sys_layout .sys_button.small a,
.sys_layout .sys_button.small a:link,
.sys_layout .sys_button.small a:visited {
    font-family: 'Open Sans';
    font-size: 0.9rem;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.sys_layout .sys_button.medium a,
.sys_layout .sys_button.medium a:link,
.sys_layout .sys_button.medium a:visited {
    font-family: 'Open Sans';
    font-size: 1rem;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.sys_layout .sys_button.large a,
.sys_layout .sys_button.large a:link,
.sys_layout .sys_button.large a:visited {
    font-family: 'Open Sans';
    font-size: 1.1rem;
    line-height: 1.5em;
    letter-spacing: 0px;
    text-transform: none;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
}

/*button styles:small*/
.sys_layout .sys_button.small.outline a,
.sys_layout .sys_button.small.outline a:link {
    border-color: rgba(0, 172, 230, 1.00);
    color: rgba(0, 172, 230, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.small.outline a:visited {
    color: rgba(0, 172, 230, 1.00);
}

.sys_layout .sys_button.small.solid a,
.sys_layout .sys_button.small.solid a:link {
    background-color: #00ace6;
    color: #ffffff;
    border-color: rgba(0, 172, 230, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.small.solid a:visited {
    color: #ffffff;
}

.sys_layout .sys_button.small.outline a:hover {
    background-color: rgba(0, 172, 230, 1.00);
    color: #ffffff;
    text-decoration: none;
}

/*button styles:medium*/
.sys_layout .sys_button.medium.outline a,
.sys_layout .sys_button.medium.outline a:link {
    border-color: rgba(214, 214, 214, 1.00);
    color: rgba(214, 214, 214, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.medium.outline a:visited {
    color: rgba(214, 214, 214, 1.00);
}

.sys_layout .sys_button.medium.solid a,
.sys_layout .sys_button.medium.solid a:link {
    background-color: #d6d6d6;
    color: #ffffff;
    border-color: rgba(214, 214, 214, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.medium.solid a:visited {
    color: #ffffff;
}

.sys_layout .sys_button.medium.outline a:hover {
    background-color: rgba(214, 214, 214, 1.00);
    color: #ffffff;
    text-decoration: none;
}

/*button styles:large*/
.sys_layout .sys_button.large.outline a,
.sys_layout .sys_button.large.outline a:link {
    border-color: rgba(0, 172, 230, 1.00);
    color: rgba(0, 172, 230, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.large.outline a:visited {
    color: rgba(0, 172, 230, 1.00);
}

.sys_layout .sys_button.large.solid a,
.sys_layout .sys_button.large.solid a:link {
    background-color: #00ace6;
    color: #ffffff;
    border-color: rgba(0, 172, 230, 1.00);
    border-style: solid;
    border-width: 2px;
}

.sys_layout .sys_button.large.solid a:visited {
    color: #ffffff;
}

.sys_layout .sys_button.large.outline a:hover {
    background-color: rgba(0, 172, 230, 1.00);
    color: #ffffff;
    text-decoration: none;
}

.sys_layout .sys_button.solid a:hover {
    text-decoration: none;
    opacity: .8;
}

.map-widget .disabled {
    pointer-events: none;
    cursor: default;
}

.map-widget iframe {
    display: block;
}